<a href="https://colab.research.google.com/github/showboyz/data_study/blob/master/%EB%8C%93%EA%B8%80%EC%A0%84%EC%B2%98%EB%A6%AC_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
# 정규분포식 사용
import re
import matplotlib.pyplot as plt

%matplotlib inline
# 시각화 결과가 선명하게 표시
%config InlineBackend.figure_format = 'retina'

In [43]:
# 시각화를 위한 한글폰트 설정
# 맥 폰트설정
plt.rc("font", family ="AppleGothic")
plt.rc('axes', unicode_minus=False)

In [44]:
# 크롤링한 파일 로드
df = pd.read_csv("./drive/My Drive/Colab Notebooks/data/inflearn-event.csv")

In [45]:
df.shape

(2447, 1)

In [46]:
df.head()

                                                text
0  2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...
1  2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는...
2                                2020년 목표 : 리액트 공부하기
3              40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급
4                    2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!

In [47]:
### 중복 입력 값 제거(빈도 수 중복을 방지하기 위해) 중복지우고 제일 마지막꺼 살림
df = df.drop_duplicates(["text"], keep="last")
df.shape

(2409, 1)

In [48]:
# 전저리 전에 원본을 보존하기 위해 복사해 둠
df["origin_text"] = df["text"]

In [49]:
df.head()

                                                text                                        origin_text
0  2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...  2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...
1  2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는...  2020년 목표: C++ 열심히 공부해서, 학교에서 꼭 A 맞기..!! \n관심있는...
3              40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급              40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급
4                    2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!                    2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!
5                  2020 년목표: 비전공자(경영)가 전공자(it) 되기!!!                  2020 년목표: 비전공자(경영)가 전공자(it) 되기!!!

In [50]:
### 대문자를 모두 소문자로 변경
df["text"] = df["text"].str.lower()

In [51]:
### 같은 의미의 단어를 하나로 통일 ( python -> 파이썬 )
df["text"] = df["text"].str.replace(
    "python", "파이썬").str.replace(
    "pandas", "판다스").str.replace(
    "javascript", "자바스크립트").str.replace(
    "java", "자바").str.replace(
    "react", "리액트")

In [52]:
### 관심강의 분리 (관심강의 뒤에 나온 강의 제목만 따로 분리)
df["course"] = df["text"].apply(lambda x: x.split('관심강의')[-1])
df["course"] = df["course"].apply(lambda x: x.split('관심 강의')[-1])
df["course"] = df["course"].apply(lambda x: x.split('관심 강좌')[-1])
df["course"] = df["course"].str.replace(":", "")
df["course"].head(30)

0     2020년 목표 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 강...
1     2020년 목표 c++ 열심히 공부해서, 학교에서 꼭 a 맞기..!! \n관심있는 ...
3                   40대 프로그래밍 시작!  우리를 위한 프로그래밍  파이썬 중급
4                        2020년 목표  돌머리 비전공자가 멋진 전공자 되기!
5                      2020 년목표 비전공자(경영)가 전공자(it) 되기!!!
6                          2020년 목표  리액트 공부하기, 스프링 공부하기
7                                 리액트로 nodebird sns 만들기
8                                                   리액트
9          open cv ,  dl(tensorflow, keras, etc. ), nlp
10                                              선형대수학개론
11                                  2020년에는 대기업으로 이직하기!
12                                   2020년 목표  리액트 공부하기
13                                  윽 늦엇네욤 ㅋㅋ 2월부터 화이팅!
14                            2020년 크롤링, 시각화 열심히 하겠습니다!
15                      2020년에는 데이터를 좀 더 열심히 공부하려고 합니다.
16                                   2020년 목표 - 안주하지 않기
17           자바 공부 마스터 하고 싶습니다.   더 자바, 코드를 조작하는 다양한 방법
18                       파이썬 데이터시각화 분석 실전 프로젝트 수강하고 싶어요
19          2020년도 화이팅!, 스프링 프레임워크 개발자를 위한 실습을 통한 입문 과정
20             관심 있는 인프런 강의  스프링 웹 mvc\n2020년 공부 목표  취업
21                                       파이썬 머신러닝 완벽가이드
22                                  자바 orm 표준 jpa 프로그래밍
23                                리액트로 nodebird sns 만들기
24                                             스프링 시큐리티
25     프로그래밍 시작하기  파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기\n파...
26                              r로 무작정 해보는 data science
27                                리액트로 nodebird sns 만들기
28      1. 홍정모의 따라하며 배우는 c++\n                      ...
29           프로그래밍 시작하기  파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기
30    프론트엔드를 공부중인 취준생입니다! 인프런 강의를 들으며 꼭 취뽀하겠습니다!\n/ ...
Name: course, dtype: object

In [53]:
df[["text", "course"]].tail()

                                                   text                                     course
2442  작년 한해도 일이 바쁘다, 야근해서 힘들다는 핑계로 김영한님의 jpa 강의를 또 스...                                스프링 데이터 jpa
2443  저는 졸업을 1년 남기고 있는 컴퓨터공학과 학생입니다. 졸업 프로젝트로 웹/앱 개발...                              스프링 부트 개념과 활용
2444  에프터 이펙트를 써본 적은 있는데, 매번 기초만 배우다 말았어요. 이걸 할 줄 안다...          에펙 초보자도 만들 수 있는 유튜브 인트로 에프터이펙트 강좌
2445  저번에 인프런에서 페이스북 마케팅 강의를 듣고 많은 도움을 받았습니다. 마케팅 업무...    파이썬 입문 및 웹 크롤링을 활용한 다양한 자동화 어플리케이션 제작하기
2446  인프런 0호 팀원이에요!\n그동안 서비스 개발 때문에 js 를 많이 했었는데 앞으론...                                남박사의 파이썬 활용

In [54]:
# 띄어 쓰기를 제거한 텍스트에서 키워드 추출
search_keyword = ['머신러닝', '딥러닝', '파이썬', '공공데이터', 'django', '크롤링', '시각화',
                  '데이터분석', '웹개발', '엑셀', 'c', '자바', '자바스크립트',
                  'node', 'vue', '리액트']

# keyword 컬럼을 만들어서 문장에 키워드가 들어가면 true -> 빈도수 추출을 위해
for keyword in search_keyword:
    df[keyword] = df['course'].str.contains(keyword)

In [55]:
df.head()

                                                text  ...    리액트
0  2020년 목표: 스프링 열심히 공부하서 직장에서 사랑받고 싶어요!!\n관심 있는 ...  ...  False
1  2020년 목표: c++ 열심히 공부해서, 학교에서 꼭 a 맞기..!! \n관심있는...  ...  False
3              40대 프로그래밍 시작! : 우리를 위한 프로그래밍 : 파이썬 중급  ...  False
4                    2020년 목표 : 돌머리 비전공자가 멋진 전공자 되기!  ...  False
5                  2020 년목표: 비전공자(경영)가 전공자(it) 되기!!!  ...  False

[5 rows x 19 columns]

In [56]:
df_python = df[df['text'].str.contains('파이썬|공공데이터|판다스')].copy()
df_python.shape

(430, 19)

In [57]:
### 키워드 빈도수 ### python 에서 true 값은 = 1, false = 0
df[search_keyword].sum()

머신러닝      133
딥러닝        53
파이썬       406
공공데이터      12
django     31
크롤링        56
시각화        30
데이터분석      24
웹개발        27
엑셀         18
c         410
자바        341
자바스크립트    140
node      117
vue       132
리액트       137
dtype: int64

In [58]:
# 정렬
df[search_keyword].sum().sort_values(ascending=False)

c         410
파이썬       406
자바        341
자바스크립트    140
리액트       137
머신러닝      133
vue       132
node      117
크롤링        56
딥러닝        53
django     31
시각화        30
웹개발        27
데이터분석      24
엑셀         18
공공데이터      12
dtype: int64

In [59]:
# 공공데이터가 들어가는 글들만 가져오기
text = df.loc[(df['공공데이터'] == True), 'text']
for t in text:
    print('-'*100)
    print(t)

----------------------------------------------------------------------------------------------------
#관심강의: 프로그래밍 시작하기 : 파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기
파이썬의 고수가 되고싶어요
----------------------------------------------------------------------------------------------------
자바기반 웹 개발자입니다. 데이터 분석에 많이 쓰이는 파이썬이 궁금합니다.
#관심강의: 프로그래밍 시작하기 : 파이썬 입문, 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
올해 안에 원하는 공부 다 끝내보려고요. 내년이면 수능이라..

#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
it개발자입니다. 개발을 오래 안하고 관리만 했더니 다시 개발이 너무 하고싶습니다. 올해는 인프런을 통해서 개발쪽 스킬셋을 업그레이드 하고 싶습니다!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
파이썬 데이터분석 마스터
#관심강의:공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
올해 졸업하는 컴퓨터공학과 학생입니다!
백엔드 혹은 데이터 엔지니어 쪽으로 취업하고 싶습니다!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
텍스트 마이닝만 수강한 뒤 현재 맡은 마케팅 업무 능률이 엄청나게 올라가는 것을 확인했으며 승진과 고가에 엄청나게 득을 보았습니다 감사합니다! 앞으로도 인프런 애용하겠습니다.
추가적으로 해 박조은 강사님의 [공공데이터로 파이썬 데이터 분석 시작하기] 강의를 듣고 상권분석과 공공데이터 활용 역량을 올릴 예정입니다. 화이팅!!!
#관심강의 : 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
데이터분석 2년차가 되는데 작년에 파이썬 강의를 담아놓고 그대로 1년간 방치... 올해는 꼭 완강하고 실습해서 개발자에게 의존하지 않고 혼자 크롤링&분석 해내고 싶어요!
#관심강의: 공공데이터로 파이썬 데이터분석 시작하기, database 1&2 - mysql
----------------------------------------------------------------------------------------------------
2020년에는 데이터 분석쪽으로 이직하고 싶어요! 인프런 강의 듣고 이직에 성공하고 싶습니다!!
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
경영학과 졸업생입니다. 새해엔 엑셀! 파이썬! 취직! 해내겠습니다. 좋은 강의, 커리큘럼이 있는 인프런 너무 감사합니다 ~^^
#관심강의: 공공데이터로 분석하기
----------------------------------------------------------------------------------------------------
인프런으로 파이썬 기초문법부터 입문했어요! 실무 데이터분석에 활용할 수 있는 수준으로 실력을 올리고 싶습니다:)
#관심강의: 공공데이터로 파이썬 데이터 분석 시작하기
----------------------------------------------------------------------------------------------------
나만의 프로젝트 하나 완성할 수 있을 정도의 지식 쌓기!
#관심강의:공공데이터로 파이썬 데이터 분석 시작하기

In [60]:
### react 들어가는 텍스트만 찾기
df.loc[df["리액트"] == True, "course"].head(10)

6                          2020년 목표  리액트 공부하기, 스프링 공부하기
7                                 리액트로 nodebird sns 만들기
8                                                   리액트
12                                   2020년 목표  리액트 공부하기
23                                리액트로 nodebird sns 만들기
27                                리액트로 nodebird sns 만들기
41    웹기반 솔루션 개발자입니다.\n\n항상 업무관련된 일만 하다보니 기술적으로 정체되어...
49                                리액트로 nodebird sns 만들기
60                          리액트 / angular / 자바 / docker
63                                            리액트 & vue
Name: course, dtype: object

In [61]:
############# 입력한 시간 컬럼 추갛하기 ##################

In [62]:
############ 빈도수 계산을 위한 텍스트 데이터 벡터화 ###############

In [63]:
#토큰화
#ngram_range=(3,6) -> 3이면 파이썬 데이터 분석까지 묶어줌
"파이썬 데이터 분석".split()

['파이썬', '데이터', '분석']

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = 'word', # 캐릭터 단위로 벡터화 할 수도 있습니다.
                                        tokenizer = None, #토크나이저를 따로 지정해 줄 수도 있습니다.
                                        preprocessor = None, # 전처리 도구
                                        stop_words = None, # 불용어 nltk등의 도구를 사용할 수도 있습니다.
                                        min_df = 2, # 토큰이 나타날 최소 문서 개수로 오타나 자주 나오지 않는 특수한 전문용어
                                        ngram_range=(3, 6), # BOW의 잔위 갯수의 범위를 지정합니다.
                                        max_features = 3000 # 만들 피처의 수, 단어의 수
                                        )
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=3000, min_df=2,
                ngram_range=(3, 6), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [65]:
feature_vector = vectorizer.fit_transform(df['course'])
feature_vector.shape

(2409, 2333)

In [66]:
#get_feature_names() 단어목록을 가져옴
vocab = vectorizer.get_feature_names()
print(len(vocab))
vocab[:10]

2333

['12개 만들면서 배우는',
 '12개 만들면서 배우는 ios',
 '12개 만들면서 배우는 ios 아이폰',
 '12개 만들면서 배우는 ios 아이폰 개발',
 '12개를 만들며 배우는',
 '12개를 만들며 배우는 swift4',
 '12개를 만들며 배우는 swift4 ios11',
 '12개를 만들며 배우는 swift4 ios11 아이폰',
 '2018 do it',
 '2018 do it 안드로이드']

In [67]:
#dataframe 형태로 만들어줌 목록 빈도수 0은 등장하지않음
pd.DataFrame(feature_vector[:10].toarray(), columns=vocab).head()

   12개 만들면서 배우는  12개 만들면서 배우는 ios  ...  활용한 파이썬 프로그래밍 완벽  활용한 파이썬 프로그래밍 완벽 이해
0             0                 0  ...                 0                    0
1             0                 0  ...                 0                    0
2             0                 0  ...                 0                    0
3             0                 0  ...                 0                    0
4             0                 0  ...                 0                    0

[5 rows x 2333 columns]

In [68]:
# sum을 이용해서 단어벡터를 더하면 빈도수를 알 수 있습니다.
# bag of words 에 몇 개의 단어가 들어있는지 확인
dist = np.sum(feature_vector, axis=0)
df_freq = pd.DataFrame(dist, columns=vocab)
df_freq

   12개 만들면서 배우는  12개 만들면서 배우는 ios  ...  활용한 파이썬 프로그래밍 완벽  활용한 파이썬 프로그래밍 완벽 이해
0             2                 2  ...                 2                    2

[1 rows x 2333 columns]

In [69]:
# 행과 열 축 바꿔줌 T 이용
df_freq.T.sort_values(by=0, ascending=False).head(10)

                         0
홍정모의 따라하며 배우는          100
스프링 데이터 jpa             60
nodebird sns 만들기        60
머신러닝 완벽 가이드             49
리액트로 nodebird sns 만들기   49
파이썬 머신러닝 완벽             49
리액트로 nodebird sns       49
파이썬 머신러닝 완벽 가이드         48
프로그래밍과 자바스크립트 es6       48
함수형 프로그래밍과 자바스크립트       47

In [70]:
# TF-IDF 로 가중치를 줘서 벡터화 
# TF-IDF 불러오기
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=False)
transformer

TfidfTransformer(norm='l2', smooth_idf=False, sublinear_tf=False, use_idf=True)

In [71]:
%%time
feature_tfidf = transformer.fit_transform(feature_vector)
feature_tfidf.shape

CPU times: user 1.57 ms, sys: 2.96 ms, total: 4.53 ms
Wall time: 4.85 ms

In [72]:
# 가중치를 두고 다시 벡터를 구함
feature_tfidf

<2409x2333 sparse matrix of type '<class 'numpy.float64'>'
	with 12217 stored elements in Compressed Sparse Row format>

In [73]:
# 가중치를 준 벡터 미리보기
tfidf_freq = pd.DataFrame(feature_tfidf.toarray(), columns=vocab)
tfidf_freq.head()

   12개 만들면서 배우는  12개 만들면서 배우는 ios  ...  활용한 파이썬 프로그래밍 완벽  활용한 파이썬 프로그래밍 완벽 이해
0           0.0               0.0  ...               0.0                  0.0
1           0.0               0.0  ...               0.0                  0.0
2           0.0               0.0  ...               0.0                  0.0
3           0.0               0.0  ...               0.0                  0.0
4           0.0               0.0  ...               0.0                  0.0

[5 rows x 2333 columns]

In [74]:
df_tfidf = pd.DataFrame(tfidf_freq.sum())
df_tfidf.top = df_tfidf.sort_values(by=0, ascending=False)
df_tfidf.top.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                               0
홍정모의 따라하며 배우는          66.358680
스프링 데이터 jpa            35.431160
nodebird sns 만들기       26.772590
리액트로 nodebird sns      24.149479
리액트로 nodebird sns 만들기  24.149479

In [75]:
# 중간에 생략되는 단어를 자세히 보고자 할 때
for t in df_tfidf_top.index[:50]:
  print(t)

홍정모의 따라하며 배우는
스프링 데이터 jpa
nodebird sns 만들기
리액트로 nodebird sns
리액트로 nodebird sns 만들기
파이썬 머신러닝 완벽
머신러닝 완벽 가이드
파이썬 머신러닝 완벽 가이드
프로그래밍과 자바스크립트 es6
함수형 프로그래밍과 자바스크립트 es6
함수형 프로그래밍과 자바스크립트
부트 개념과 활용
스프링 부트 개념과
스프링 부트 개념과 활용
실전 스프링 데이터
실전 스프링 데이터 jpa
2020년 공부 목표
따라하며 배우는 c언어
홍정모의 따라하며 배우는 c언어
파이썬 실전 100
남박사의 파이썬 실전 100 활용
파이썬 실전 100 활용
남박사의 파이썬 실전 100
남박사의 파이썬 실전
실전 100 활용
파이썬 머신러닝 완벽가이드
관심있는 인프런 강의명
rest api 개발
대세는 쿠버네티스 기초편
스프링부트 개념과 활용
orm 표준 jpa 프로그래밍
orm 표준 jpa
표준 jpa 프로그래밍
스프링 기반 rest api
스프링 기반 rest
스프링 기반 rest api 개발
기반 rest api
기반 rest api 개발
자바 orm 표준 jpa
자바 orm 표준 jpa 프로그래밍
자바 orm 표준
vue js 완벽 가이드
js 완벽 가이드
vue js 완벽
애플리케이션을 테스트하는 다양한
자바 애플리케이션을 테스트하는 다양한
자바 애플리케이션을 테스트하는
파이썬 알고리즘 문제풀이
테스트하는 다양한 방법
애플리케이션을 테스트하는 다양한 방법

In [76]:
################ 비슷한 단어 끼리 군집화 = Cluster ################ kMeans 알고리즘 / minibatchMeans
from sklearn.cluster import KMeans
from tqdm import trange
inertia = []

start = 10
end = 50

# 적절하ㅏㄴ 클러스터의 갯수를 알기 위해 inertia 값을 구함